@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap'); */

body, *{
  margin: 0;
  padding: 0;
}
body{
	/* position: absolute; */
	font-family: 'Lato', sans-serif;	
	height:100vh;
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
}

.spinner {
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	z-index: 2;
	width: 30px;
	height: 30px;
  }
  .spinner .path {
	stroke: #a375de;
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
			animation: dash 1.5s ease-in-out infinite;
  }
  
  @-webkit-keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  @-webkit-keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
  }
  @keyframes dash {
	0% {
	  stroke-dasharray: 1, 150;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -35;
	}
	100% {
	  stroke-dasharray: 90, 150;
	  stroke-dashoffset: -124;
	}
  }
a{
  text-decoration: none;
  color:black ;
}
.homepage, .dashboard,.login, .brochure{
  background-color: #317ac2;
}
.nav-container ul{
  align-items: center;
  display: flex;
}
.navItems li{
  list-style-type: none;
  padding: 5px 20px;
}
.home{
  display: flex; 
}
.home div{ 
  padding:5px;
  box-sizing: border-box;
}
.item:nth-child(2){
	box-sizing: border-box;
	margin-left:auto;
}
.nav-hover{
	box-sizing: border-box;
	border: 3px solid rgba(167, 139, 250, 0);
}
.nav-hover:hover{
	color:black;
	border-bottom: 3px solid #a78bfa;
}
input, textarea{	
	background-color: white;
	margin: auto;
	margin-top: 20px;
	height: 45px;
	width:400px;
	padding: 12px;
	display: block;
	border-radius:5px; 
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}
form div{
	margin: 16px 0;
}

label{
	margin:2px 1px ;
	padding: 2px 0;
	color: rgb(43, 43, 43);
	font-weight: 500;
}
input+p{
	height: 0;
	opacity: 0;
}
input.valid + p{
	font-size: 14px;
	opacity: 0;
}

input.invalid + p{
	margin-left: 20px;
	height: auto;
	color: #e9255d;
	font-size: 13px;
	font-weight: 500;
	opacity: 1;
}
.checkmark {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #1BDA9C;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #1BDA9C;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .6s both;
   	margin: 0 auto;
}
.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #1BDA9C;
    fill: #fff;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.5s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #1BDA9C;
    }
}
/*scrolbar*/
.scrollbar::-webkit-scrollbar {
	width: 20px;
}

.scrollbar::-webkit-scrollbar-track {
box-shadow: inset 0 0 1px #F8F9F9; 
border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
background: #E5E8E8 ; 
border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
background: #E8DAEF; 
}
thead{
	user-select: none;
	border: 5px solid #734b95;
	/* background-color: rgb(192 132 252); */
	background-color: rgb(167 139 250);
		border-radius: 5px;
	color: white;
	box-shadow:1px 0 3px rgba(0, 0,0, 0.2);
	/* padding: 3px 0 ; */
}

thead tr{
	margin: 10px 0;
	font-weight: 600
}
tbody tr{
	cursor: pointer;
	border-bottom: 2px;
	box-sizing: border-box;
	font-weight: 400;
}
tbody tr:nth-child(odd){
	/* background-color: #f9f9f8; */
	background-color: #f9f9f8;
}
tbody tr:nth-child(even){
	background-color: #fefefe;
}
tbody tr:hover{
	background-color: #f2eaff;
}
#responsive-menu ul{
	background-color: #f6f6f6;
	margin : 2px 8px;
	border-radius: 15px;
}
#side-menu{
	box-sizing: border-box;
	display: flex ;
	flex-direction: column;
	width:240px;
	color: #2f2f2f;
	border-left: 8px solid  rgb(167 139 250);

	background-color:#ffffff;
	user-select: none;
}
.side-menu-links{
	margin: 10px 12px;	
	padding: 5px 15px;
}
.side-menu-links:hover{
	border-radius: 2px;
	margin: 10px 12px;
	padding: 5px 15px;
	color: #ffffff;
	border-radius: 3px;
	background-color:#a78bfa;
}
#responsive-menu ul li{
	padding: 2px 40px;
	border-radius: 5px;
	margin: 2px;
	width: 96vw;
	text-align: left;
	background-color: #ffffff;
	color:#2f2f2f;
}
#responsive-menu ul li:hover{
	background-color: #a460fc;
	color:#fff;
}

::-moz-selection, ::-webkit-selection ,::selection {
	color: white;
	background: #803ae2;
  }

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.download-xls-btn{
	background-color:#2dd4bf;
	color: #2f2f2f;
}
.download-xls-btn:hover{
	background-color: #14b8a5;
}
input[type="checkbox"]::selection{
	background-color: white;
}
input[type="checkbox"]:hover{
	cursor: pointer;
}
input[type="checkbox"]:active,
input[type="checkbox"]:focus {
	background-color: #ffffff;
}